---
import CardListSection from './CardListSection.astro';
import { contacto } from '../../../config/cv.json';
---
<section class="bg-background">
    <div class="container px-6 py-8 mx-auto">
        <h1 class="text-3xl font-semibold text-center capitalize lg:text-4xl">
            ontáctame
        </h1>

        <p class="mt-4 text-center text-offset">
            Si te interesa saber más sobre mis proyectos o colaborar, no dudes en contactarme.
        </p>

        
    </div>
    
</section>

<CardListSection  items={contacto} />

