---
import { projects } from '../../../config/cv.json';
import CardListSection from "./CardListSection.astro";
---

<section class="bg-background">
    <div class="container px-6 py-8 mx-auto">
        <h1 class="text-3xl font-semibold text-center capitalize lg:text-4xl">
            Proyectos Destacados
        </h1>

        <p class="mt-4 text-center text-offset">
            Descubre un poco sobre los proyectos que he realizado.
        </p>

        
    </div>
    
</section>

<CardListSection  items={projects} />