---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Redireccionando...">
  <head>
    <meta http-equiv="refresh" content="0; URL='/blogs/1'" />
  </head>
  <body>
    <p>Redireccionando a las publicaciones...</p>
  </body>
</Layout>